<header>
  <div class="header-inner">
    <div class="site-title">
      <a href="/">
        {{ site.title }}
      </a>
    </div>
    <input type="checkbox" id="header_menu_toggle" class="header_menu_toggle" />
    <label for="header_menu_toggle" class="header_menu_button" aria-label="Toggle navigation">
      ☰
    </label>
    <nav class="header_links" aria-label="Primary navigation">
      <div class="header_links_inner">
        {% for link in site.header_links %}
        <a href="{{ link.url }}">{{ link.title }}</a>
        {% endfor %}
        <div class="dropdown" data-align="right">
          <input type="checkbox" id="dropdown_toggle" class="dropdown_toggle" />

          <label for="dropdown_toggle" class="dropdown_button">
            Categories
          </label>

          <ul class="dropdown_menu">
            {% for link in site.data.category_links %}
            <li class="dropdown_element" style="--i: {{ forloop.index0 }};">
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
