<head>
  <meta charset="UTF-8">
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/rouge.css' | relative_url }}">
  <meta name="description" content="{{ site.description }}">
  <meta name="color-scheme" content="light">

  <title>
    {{ site.title }}
    {%- if page.title -%}
    &nbsp;|&nbsp;{{ page.title }}
    {%- endif -%}
  </title>

  <!-- Fathom - beautiful, simple website analytics -->
  <script src="https://cdn.usefathom.com/script.js" data-site="QXYYPRJH" defer></script>
</head>