<ul class="post-list">
  {%- assign posts = include.posts -%}

  {%- for post in posts -%}
  <li class="post-item">
    <a href="{{ post.url | relative_url }}" class="post-item-title">
      {{ post.title }}
    </a>

    <br>
    <time datetime="{{ post.date | date: '%Y-%m-%d' }}"  class="post-item-date">
      {{ post.date | date: "%B %d, %Y" }}
    </time>

    {%- if post.categories.size > 0 -%}
    <br>
    Tags:
    <span class="post-item-categories">
      {%- for category in post.categories -%}
      <a href="/{{ category | downcase | url_encode }}/">{{ category }}</a>
      {%- if forloop.last == false -%},&nbsp;{%- endif -%}
      {%- endfor -%}
    </span>
    {%- endif -%}
  </li>
  {%- endfor -%}
</ul>
