<ul class="post-list">
  {% if include.title %}
    <h1>{{ include.title }}</h1>
  {% endif %}

  {%- for post in include.posts -%}
  <li class="post-item">
    <a href="{{ post.url | relative_url }}" class="post-item-title">
      {{ post.title }}
    </a>

    <br>

    {% include post_date.html date=post.date %}

    {%- if post.categories.size > 0 -%}
    <br>
    Tags:
    <span class="post-item-categories">
      {%- for category in post.categories -%}
      <a href="/{{ category | downcase | url_encode }}/">{{ category }}</a>
      {%- if forloop.last == false -%},&nbsp;{%- endif -%}
      {%- endfor -%}
    </span>
    {%- endif -%}
  </li>
  {%- endfor -%}
</ul>
