code,
pre {
  font-family: "Consolas", "Courier New", monospace;
  font-size: 1rem;
  line-height: 1.4;
}

div.highlighter-rouge {
  & pre,
  & code {
    overflow-x: auto;
    padding: 0.75em;
  }
}
