code,
pre {
  font-family: "Consolas", "Courier New", monospace;
  font-size: 1rem;
  line-height: 1.4;
}

div.highlighter-rouge {
  & pre {
    // Add some space so the text isn't right 
    // next to the box edge
    padding: 0.75em;
  }
}
