code, pre {
  font-family: "Consolas", "Courier New", monospace;
  font-size: 1rem;
  line-height: 1.4;
}

div.highlighter-rouge pre,
div.highlighter-rouge code {
    /* The key properties to ensure wrapping */
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: normal;
    padding: 0.75em;
}
