@use "vars";

.dropdown {
  position: relative;
  display: block;

  &:hover .dropdown_menu li,
  &:focus-within .dropdown_menu li {
    animation: waveIn 0.25s ease forwards;
    animation-delay: calc(var(--i) * var(--wave-delay, 15ms));
  }

  &[data-align="left"] {
    .dropdown_menu {
      left: 0;
      right: auto;
    }
  }

  &[data-align="right"] {
    .dropdown_menu {
      left: auto;
      right: 0;
    }
  }
}

.dropdown_menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;

  position: absolute;
  top: 100%;

  width: fit-content;
  margin: 0;
  padding: 0;

  // Give a slight "lift" effect when the menu appears
  transform: translateY(6px);
  transition: 0.15s ease-out;

  opacity: 0;

  pointer-events: none;

  .dropdown:hover &,
  .dropdown:focus-within & {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
  }
}

@keyframes waveIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.dropdown_element {
  width: 100%;
  margin: 0;
  padding: 0;

  opacity: 0;

  background: vars.$header-button-background-colour-light;

  a {
    text-decoration: none;
  }
}

.dropdown_button {
  background: vars.$header-button-background-colour-light;
  border: none;
  cursor: pointer;
  padding: 0.5rem 0.75rem;

  &::after {
    content: "▼";
    display: inline-block;
    transition: transform 0.2s ease;
  }

  .dropdown:focus-within &::after,
  .dropdown:hover &::after {
    transform: rotate(180deg);
  }
}
