@use "vars";
@use "links";

header {
  width: 100%;
  border-bottom: 0.1rem solid #000;
  background-color: vars.$header-background-colour-light;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* title left, links right */
  margin: 0;
  padding: 1rem 1rem;
}

.header_links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.site-title {
  a {
    font-size: 1.25rem;
    @include links.solid-colour-link(#000);
  }
}
