@use "vars";

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* title left, links right */
  padding: 1rem 1.5rem;
  margin-bottom: 2rem;
  border-bottom: 0.1rem solid #000;
  background-color: vars.$header-background-colour-light;
}

.header-links {
  a {
    /* space between links */
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5em 1em;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown_button {
  background: vars.$header-button-background-colour-light;
  border: none;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
}

.dropdown_menu {
  position: absolute;
  top: 100%;
  left: 0;

  opacity: 0;
  visibility: hidden;
  // Give a slight "lift" effect when the menu appears
  transform: translateY(4px);
  transition: 0.15s ease;
  pointer-events: none;

  background: vars.$header-button-background-colour-light;
  padding: 0.5rem;
  list-style: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  a {
    text-decoration: none;
  }
}

/* show menu */
.dropdown {

  &:hover,
  &:focus-within {
    .dropdown_menu {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      pointer-events: auto;

      li {
        animation: waveIn 0.25s ease forwards;
      }
    }
  }

  $wave-delay: 40ms;
  $max-items: 20;

  @for $i from 1 through $max-items {

    &:hover .dropdown_menu li:nth-child(#{$i}),
    &:focus-within .dropdown_menu li:nth-child(#{$i}) {
      animation-delay: $i * $wave-delay;
    }
  }
}

@keyframes waveIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
