@use "vars";

.hub {
  display: grid;
  grid-template-columns:
    1fr auto 1fr;

  max-width: var(--text-content-width);

  margin: 0;
  padding: 0;
}

.hub-content {
  grid-column: 2;

  width: var(--p-text-width);
  margin: 0;
  padding: 0;
  padding-inline: var(--text-content-padding-side);
  padding-top: 1rem;

  h1 {
    display: block;
    margin: 0;
    padding-bottom: 0;
  }

  li {
    list-style: none;
  }

  ul {
    padding: 0;
    margin: 0;
  }
}
