@use "vars";

.post-list {
  grid-column: 2;

  padding: 0;
  margin: 0;
  list-style: none;
}

.post-item {
  --vmargin: 0.5rem;
  --hmargin: 0.5rem;
  
  max-width: var(--p-text-width);
  padding: 0 0;
  padding-inline: 0;
  margin-top: var(--vmargin);
  margin-bottom: var(--vmargin);
  margin-inline: var(--hmargin);
}

.post-item-title {
  font-size: 1.25rem;
  font-weight: var(--font-weight-regular);
}

.post-item-categories {
  margin-bottom: 1rem;
  padding-bottom: 0rem;
}
