@use "vars";

.post-list {
  max-width: var(--p-text-width);
  padding: 1em 1em;
  margin: 0;
  list-style: none;
}

.post-item {
  padding: 0.75rem 0;
}

.post-item-title {
  font-size: 1.25rem;
  font-weight: var(--font-weight-regular);
}

.post-item-categories {
  margin-bottom: 1rem;
  padding-bottom: 0rem;
}
