@use "vars";

@mixin breakout($w) {
  max-width: $w;
  margin-left: 50%; // Move to parent's centre
  transform: translateX(-50%); // Move left by 50% of own width
}

.post {
  display: grid;
  grid-template-columns:
    1fr auto 1fr;

  max-width: var(--text-content-width);

  margin: 0;
  padding: 0;

  padding-top: 1rem;
}

.post-content {
  grid-column: 2;

  max-width: var(--p-text-width);
  margin: 0;
  padding: 0;
  padding-inline: var(--text-content-padding-side);

  h1 {
    display: block;
    margin: 0;
    padding-bottom: 0;
  }

  div.highlighter-rouge {
    background-color: var(--text-background-colour);
    width: fit-content;
    outline: 1rem solid var(--text-background-colour);
    border-radius: 12px;
    padding: 0;
    @include breakout(var(--code-block-width));

    div,
    pre,
    span {
      background-color: var(--code-background-colour);
    }

    & div.highlight {
      min-width: var(--p-text-width);
      overflow-x: scroll;
      & pre {
        min-width: var(--p-text-width);

        width: fit-content;
      }
    }


  }

  p code {
    font-family: monospace;
    background: none;
    padding: 0;
    white-space: normal;
    overflow-wrap: anywhere;
  }

  .post-figure {
    max-width: 100%;
    margin: 0;
    padding: 0;

    figcaption {
      margin-top: 0.25rem;
      font-style: italic;
      text-align: left;
    }

    img {
      @include breakout(var(--img-block-width));
      height: auto;
      display: block;
    }
  }

}