$h1-text-width: 32.5ch;
$h2-text-width: 44ch;

$header-background-colour-light: #F0F0F0;
$header-button-background-colour-light: #E0E0E0;
$header-button-hover-colour-light: #D0D0D0;

$min-supported-width: 320px;
$header-collapse-width: 480px;
$mobile-width: 768px;
