@use "vars";
@use "header";
@use "post";
@use "post_list";
@use "category_list";
@use "code";

html {
  font-size: 100%;
}

body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  line-height: 1.5;
  font-size: 1rem;
  background-color: vars.$background-colour-light;
  color: vars.$text-colour;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

button,
input,
select,
textarea {
  font: inherit;
}
