@use "category_list";
@use "code";
@use "dropdown_menu";
@use "header";
@use "post";
@use "post_list";
@use "home";
@use "vars";

* {
  box-sizing: border-box;
}

:root {
  // Want a fixed text width
  // Shrink if needed
  // We also want a fixed margin
  // This forms the core column width for the site

  --p-text-width: min(65ch, 100vw);
  --code-block-width: min(90ch, 100vw);
  --img-block-width: min(90ch, 100vw);

  --text-content-padding-side: 1rem;
  --text-content-padding: calc(2 * var(--text-content-padding-side));
  --max-content-width:
    calc(var(--p-text-width) + var(--text-content-padding));
  --text-content-width: min(var(--max-content-width), 100vw);

  // Colours
  --text-colour-light: #1F2937;
  --text-colour-dark: #e5e7eb;

  --link-colour-light: #2563EB;
  --link-colour-dark: #7DD3FC;
  --link-colour-hover-light: #1d4ed8;
  --link-colour-hover-dark: #DDDDDD;
  --link-colour-active-light: #1e40af;
  --link-colour-active-dark: #ffffff;
  --link-colour-visited-light: #551A8B;
  --link-colour-visited-dark: #bc42f5;

  --text-background-colour-light: #FAFAFA;
  --text-background-colour-dark: #111c33;

  --header-background-colour-light: #F0F0F0;
  --header-background-colour-dark: 
    color-mix(in srgb, var(--text-background-colour-dark) 90%, white);;

  --code-background-colour-light: #161b22;
  --code-background-colour-dark: 
    color-mix(in srgb, var(--header-background-colour-dark) 99%, white);

  --header-button-background-colour-light: #E0E0E0;
  --header-button-background-colour-dark: 
    color-mix(in srgb, var(--header-background-colour-dark) 90%, white);
  --header-button-hover-colour-light: #D0D0D0;
  --header-button-hover-colour-dark: #D0D0D0;

  --bee-yellow: #f6d365;
  --bee-gold: #d6a72c;
  --bee-brown: #3a2a18;
  --bee-cream: #fff8e1;

  --site-background-light: #a89760ad;
  --site-background-dark: #152b72;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  color-scheme: light dark;
  --text-colour: var(--text-colour-light);
  --link-colour: var(--link-colour-light);
  --link-colour-hover: var(--link-colour-hover-light);
  --link-colour-active: var(--link-colour-active-light);
  --link-colour-visited: var(--link-colour-visited-light);

  --text-background-colour: var(--text-background-colour-light);
  --site-background-colour: var(--site-background-light);
  --header-background-colour: var(--header-background-colour-light);
  --code-background-colour: var(--code-background-colour-light);
  
  --header-button-background-colour: var(--header-button-background-colour-light);
  --header-button-hover-colour: var(--header-button-hover-colour-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-colour: var(--text-colour-dark);
    --link-colour: var(--link-colour-dark);
    --link-colour-hover: var(--link-colour-hover-dark);
    --link-colour-active: var(--link-colour-active-dark);
    --link-colour-visited: var(--link-colour-visited-dark);

    --text-background-colour: var(--text-background-colour-dark);
    --site-background-colour: var(--site-background-dark);
    --header-background-colour: var(--header-background-colour-dark);
    --code-background-colour: var(--code-background-colour-dark);

    --header-button-background-colour: var(--header-button-background-colour-dark);
    --header-button-hover-colour: var(--header-button-hover-colour-dark);
  }
}


html {
  font-size: 100%;
}

a {
  text-decoration: underline;
  color: var(--link-colour);

  &:hover {
    color: var(--link-colour-hover);
  }

  &:active {
    color: var(--link-colour-active);
  }

  &:visited {
    color: var(--link-colour-visited);
  }
}

body {
  font-family: Georgia, "Palatino Linotype", Palatino, serif;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: var(--font-weight-regular);

  color: var(--text-colour);
  margin: 0;

  display: grid;
  place-items: center;

  --stripe-width: 2rem;
  --stripe-0-start: 0;
  --stripe-0-end: var(--stripe-width);
  --stripe-1-start: var(--stripe-width);
  --stripe-1-end: calc(2 * var(--stripe-width));

  background: var(--site-background-colour);
}

main {
  display: grid;
  gap: 1rem;

  padding: 0;
  background-color: var(--text-background-colour);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: var(--font-weight-regular);
}

button,
input,
select,
textarea {
  font: inherit;
}
