$p-text-width: 65ch;
$h1-text-width: 32.5ch;
$h2-text-width: 44ch;

html {
  font-size: 100%;
}

body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  line-height: 1.5;
  font-size: 1rem;
  background-color: #FAFAFA;
  color: #1F2937;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* title left, links right */
    padding: 1rem 1.5rem;
    margin-bottom: 2rem;
}

code, pre {
    font-family: "Consolas", "Courier New", monospace;
    font-size: 1rem;
    line-height: 1.4;
}

.header-links a {
  margin-left: 1rem; /* space between links */
  text-decoration: none;
}

.home {
    ul {
      max-width: $p-text-width;
      margin: 0 auto;
      padding-left: 0;
      list-style: none;
    }
}

.post-item {
  margin-bottom: 1rem;
  padding-bottom: 0rem;
}

.post {
  p, ul {
    max-width: $p-text-width;
    margin: 1em auto;
  }
  h1 {
    max-width: $h1-text-width;
    margin: 1em auto;
  }
  h2, h3, h4, h5, h6 {
    max-width: $h2-text-width;
    margin: 1em auto;
  }
  div.highlighter-rouge {
    max-width: $p-text-width;
    margin: 0 auto;
    border-radius: 6px;
    padding: 0;
  }
}

div.highlighter-rouge pre, 
div.highlighter-rouge code {
    /* The key properties to ensure wrapping */
    white-space: pre-wrap;
    overflow-wrap: normal;
    word-break: normal;
    padding: 0.75em;
}

