---
---

.home {
    ul {
      max-width: 65ch;
      margin: 0 auto;
      padding-left: 0;
      list-style: none;
    }
}

/* Custom style for this one specific highlight block */
.wrap-text-highlight .highlight pre, 
.wrap-text-highlight .highlight code {
    /* The key properties to ensure wrapping */
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word; /* Fallback for older browsers */
}